.text-signature-preview {
    text-align: center;
    font-size: 38px;
    border: 1px dashed #ddd;
}

.text-signature {
    width: 400px;
    height: 150px;
    display: inline-block;
    padding-top: 40px;
}
